<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
--><!-- 污染排放-->
<ion-view style="background-color: #cc0000">


    <ion-content scroll="true" style="padding-top: 80px">


        <div class="row">
            <div class="col col-offset-10 col-33">

                <div class="button-bar">
                    <a class="button button-assertive ">排放情况</a>
                    <div class="list">

                    </div>
                <!--    <a class="button button-balanced ">废气监测</a>-->

                </div>

            </div>



        </div>

    <div class="card">

        <div class="row">
            <div class="col col-offset-30">
                <div class="col"></div>
                <div class="col">
                    <div class="item">
                        监控时间
                    </div>
                </div>
                <div class="col"></div>

            </div>
            <div class="col">
                <div class="row">
                    <div class="col col-offset-30">
                        <div class="button-bar">
                            <a class="button button-positive">COD</a>
                            <a class="button button-calm">NH3N</a>

                        </div>
                    </div>
                    <div class="col">

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="card">
    <!--    <div id="container" style="width:auto;height:auto"></div>
        <div id="container1" style="width:auto;height:auto"></div>-->
    </div>
    </ion-content>
</ion-view>
